Repository Cilvia333/quality-review-2020: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

env: 雛形を修正
  pages/_document.tsx
  pages/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --fix

chore: READMEの修正
  README.md
Due: none

chore: ライセンス追加
  LICENCE
Due: none

Add renovate.json
  renovate.json
Due: prettier --write

feat: info追加
  next.config.js
  src/components/card.tsx
  src/data/di19551_Shiomi.json
  src/types/info.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: ヘッダーの追加
  .babelrc
  src/assets/svgs/logo.svg
  src/assets/svgs/title.svg
  src/components/header.tsx
  src/pages/_app.tsx
  src/types/index.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: いろいろ追加
  .eslintrc
  next.config.js
  package.json
  src/assets/images/di19551/icon.png
  src/assets/images/di19551/thumbnail.jpg
  src/assets/images/di19551/thumbnail.png
  src/assets/svgs/heart.svg
  src/assets/svgs/heart_outline.svg
  src/components/card.tsx
  src/components/header.tsx
  src/data/di19551_Shiomi.json
  src/pages/[id].tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/types/color.d.ts
  src/types/info.d.ts
  src/util/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: フッターの追加
  src/components/card.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/pages/_app.tsx
Due: eslint --fix

feat: トップページ更新
  package.json
  src/components/card.tsx
  src/components/header.tsx
  src/data/index.ts
  src/pages/[id].tsx
  src/types/info.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: 記事ページ更新
  package.json
  public/favicon.png
  src/assets/svgs/title.svg
  src/components/header.tsx
  src/pages/[id].tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: メタタグ追加
  public/favicon.ico
  src/components/card.tsx
  src/pages/[id].tsx
  src/pages/index.tsx
  src/types/color.d.ts
  src/types/index.ts
Due: eslint --fix

fix: 環境を直した
  .eslintignore
  index.d.ts
  package.json
  public/ogp.png
  src/components/card.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

fix: propのエラーを修正
  src/components/card.tsx
Due: eslint --fix

fix: エラー
  src/assets/svgs/title.svg
  src/pages/[id].tsx
Due: eslint --fix

fix: モザイク
  src/components/card.tsx
Due: eslint --fix

feat: トップページ更新
  src/assets/images/MV.png
  src/assets/images/di18001/icon.png
  src/assets/images/di18001/thumbnail.png
  src/assets/images/di18002/icon.png
  src/assets/images/di18002/thumbnail.png
  src/assets/images/di18003/icon.png
  src/assets/images/di18003/thumbnail.png
  src/assets/images/di18004/icon.png
  src/assets/images/di18004/thumbnail.png
  src/assets/images/di18005/icon.png
  src/assets/images/di18005/thumbnail.png
  src/assets/images/di19551/thumbnail.jpg
  src/assets/svgs/back-arrow.svg
  src/components/card.tsx
  src/components/header.tsx
  src/data/di18001.json
  src/data/di18002.json
  src/data/di18003.json
  src/data/di18004.json
  src/data/di18005.json
  src/data/di19551.json
  src/data/di19551_Shiomi.json
  src/data/index.ts
  src/pages/[id].tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

feat: フォント変更
  src/components/card.tsx
  src/components/header.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  tailwind.config.js
Due: eslint --fix

feat: モバイル対応
  src/components/card.tsx
  src/components/header.tsx
  src/pages/[id].tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/index.ts
Due: eslint --fix

fix: HSV周り
  src/components/card.tsx
Due: eslint --fix

update: 画像周り
  src/assets/images/di18001/img01.png
  src/assets/images/di18001/img02.png
  src/assets/images/di18001/img03.png
  src/data/di18001.json
  src/data/di18002.json
  src/data/di18003.json
  src/data/di18004.json
  src/data/di18005.json
  src/data/di19551.json
  src/pages/[id].tsx
Due: eslint --fix, prettier --write

fix: Info型の修正
  src/types/index.ts
Due: eslint --fix

fix: svg
  src/assets/svgs/heart_outline.svg
  src/assets/svgs/logo.svg
Due: none

fix: しらん
  .eslintrc
  src/styles/index.ts
Due: eslint --fix, prettier --write

fix: エラー
  src/styles/index.js
  tsconfig.json
Due: eslint --fix, prettier --write

fix: typo
  src/data/di18002.json
  src/data/di18003.json
  src/data/di18004.json
  src/data/di18005.json
  src/data/di19551.json
Due: prettier --write

featファビコン追加
  src/pages/_document.tsx
Due: eslint --fix

update: data
  src/data/di18001.json
  src/data/di18002.json
  src/data/di18003.json
  src/data/di18004.json
  src/data/di18005.json
  src/data/di19551.json
Due: prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency lodash to v4.17.21 [security]
  yarn.lock
Due: none

chore(deps): update dependency @types/react-dom to v16.9.13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency babel-plugin-styled-components to v1.12.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-prettier to v3.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update react monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-promise to v5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/lodash to v4.14.170
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to v16.14.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-react to v7.24.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{json,yml,yaml}) or (any of: *.{eslint,prettier,lintstaged,husky}rc)
